$main-font-family: Helvetica, sans-serif;
$main-font-size: 15px;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: $main-font-family;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

a{
  color: black;
  text-decoration: none;
}

.pageContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 600px;
  overflow: auto;
}

header {
  height: 50px;
  padding: 10px;
}
.menuItem{
  display: inline-block;
  cursor: pointer;
  margin: 0 20px 0 0;
  vertical-align: middle;
}

.appContent {
  flex: auto;

}
.mainContent{
  height: 100%;
  width: 756px;
  margin: auto;
}

footer {
  height: 25px;
  padding-top: 5px;
  padding-left: 10px;
}