@import 'mappnig';

$main-font-family: Helvetica, sans-serif;
$main-font-size: 15px;

%btn-hoovered {
  cursor: pointer;
  box-shadow: 0 0 5px #dadada;
  background-color: #f2f2f2;
  background-image: -webkit-linear-gradient(#fff, #f2f2f2);
  background-image: linear-gradient(#fff, #f2f2f2);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: $main-font-family;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  min-width: 1200px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

* {
  box-sizing: border-box;
}

.menuItem{
  text-decoration: none;
  vertical-align: middle;
  line-height: 30px;
}

.active{
  background: #000092;
}
.pageContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 600px;
  background: #fafafa;

}

header {
  height: 40px;
  background: #4a76a8;
}
.menuItem{
  cursor: pointer;
  color: #fff;
  height: 100%;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px 0 15px;
  line-height: 40px;
  &:hover:not(.active) {
   background: #0000bd;
  }
}

.appContent {
  flex: auto;
  overflow: hidden;

}
.main-content{
  height: 100%;
  width: 956px;
  margin: auto;
  background: #fff;
  overflow: hidden;
}
.main-btn{

}

footer {
  padding-right: 10px;
  text-align: right;
}