$main-font-size:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font-size: $main-font-size;
  width:100%;
  height: 100%;
}

.appFooter{
   width: 100%;
   height: 50px;
   background: #fafafa;
 }